<div style="text-align:center">
  <h1>
    Agora-Web
  </h1>
  <div>
    <span>
      Front-end for Agora in AngularJs
    </span>
  </div>
  <br>
  <span>
    <img src="../assets/images/agora.png">
  </span>
</div>